@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.linksContainer {
  width: 80%;
  /* background-color: rgb(20, 127, 220); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 91.5%;
  position: fixed;
  z-index: 2000;
  font-family: 'Manrope', sans-serif;
}



/* @media (max-width: 768px) {
  .dashContainer {
    flex-direction: column;
    width: 100%;
    height: 80%;
    z-index: 2000;
  }
} */

/* Table Container */
.tableContainer {
  /* background-color: #f9f9f9; */
  width: 93%;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: auto;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1f1f1;
}

/* Main Table */
.table {
  width: 100%;
  border-collapse: collapse;
  /* margin: 20px 7px; */
  table-layout: fixed;
  font-size: 1rem;
  overflow: hidden;
}

/* .orignalLinkContainer {
  width: 10px;
} */

.table th,
.table td {
  text-align: left;
  text-wrap: nowrap;
  border: 1px solid #ddd;
  padding: 10px;
  overflow: hidden;
  height: 3rem;
}
/* 
.orignalLinkContainer {
  width: 10px;
} */

.table th {
  height: 3rem;
  background-color: #f3f7fd;
  position: relative;
  /* z-index: 2; */
  border: none;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.paginationBtn {
  border: none;
  background: #f1f1f1;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.paginationBtn:disabled {
  background: #e0e0e0;
  cursor: not-allowed;
}

.paginationNumber {
  border: none;
  /* background: #d32020; */
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}


.activePage {
  background-color: #1b48da;
  color: white;
}


.copyBtn {
  background: none;
  border: none;
  z-index: 9999;
  position: relative;
}

.dropdownBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.editBtn,
.deleteBtn {
  background: none;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.activeStatus {
  color: #1EB036;
  /* background-color: #28a745;  */
  /* padding: 5px 10px; */
  /* border-radius: 5px; */
  /* font-weight: bold; */
  /* text-align: center; */
}

.inactiveStatus {
  color: #B0901E;
  /* background-color: #28a745;  */
  /* padding: 5px 10px; */
  /* border-radius: 5px; */
  /* font-weight: bold; */
  /* text-align: center; */
}

.copyMessage {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 10rem;
  background-color: white;
  color: black;
  padding: 10px 15px;
  border: 1.5px solid #1b48da;
  border-radius: 8px;
  font-size: 14px;
  opacity: 0.9;
  animation: fadeInOut 3s ease-in-out;
  font-weight: 600;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 0.9; }
  90% { opacity: 0.9; }
  100% { opacity: 0; }
}




/* Responsive Table */
@media (max-width: 768px) {

  .linksContainer {
    flex-direction: column;
    width: 100%;
    height: 75%;
    z-index: 9999;
  }

  .copyMessage {
    width: 50%;
    left: 5rem;
    bottom: 4rem;
  }

  .table {
    table-layout: auto;
  }
/* 
  .tableContainer {
    width: 90%;
    height: 60%;
  }

  .table {
    border: 0;
  }

  .table thead {
    display: none;
  }

  .table tr {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ddd;
  }

  .table td {
    display: block;
    text-align: right;
    position: relative;
    padding-left: 50%;
    border-bottom: 1px solid #ddd;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: 45%;
    white-space: nowrap;
    font-weight: bold;
    text-align: left;
  } */
}
