@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.sideBarContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column ;
  width: 100%;
  flex: 1;
  background-color: white;
  font-family: 'Manrope', sans-serif;
}

.itemContainer {
  margin-top: 2rem;
  width: 100%;
}

.itemContainer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
}

.itemContainer li {
  padding: 1rem 0;
  margin: 0.3rem 1rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.itemContainer img {
  padding: 0 1rem;
  width: 1.5rem;
}

.itemContainer li:hover {
  background-color: #1b48da10;
  border-radius: 0.5rem;
}

.settingContainer {
  width: 100%;
  border: 1.7px solid #f1f1f1;
}

.settingContainer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
}

.settingContainer li {
  padding: 1rem 0;
  margin: 0 1rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.settingContainer img {
  padding: 0 1rem;
  width: 1.5rem;
}

.settingContainer li:focus {
  background-color: #1b48da10;
  border-radius: 0.5rem;
}

.hamburgerIcon {
  display: none;
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 9999;
  cursor: pointer;
}

.hamburgerIcon img {
  width: 25px;
}



.menuItem {
  padding: 1rem;
  margin: 0.3rem 1rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.menuItem:hover {
  background-color: #1b48da10;
}

.menuItem.active {
  background-color: #1b48da10; 
  color: black;
  font-weight: bold;
}


@media (max-width: 768px) {


  .sideBarContainer {
    border: none;
  }

  .sideBarContainer {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }

  .sideBarContainer.open {
    transform: translateX(0);
  }

  .hamburgerIcon {
    display: block;
    margin-top: 8rem;
    z-index: 9999;
  }

  .menuItem.active {
    background-color: #1b48da10;
    color: black;
    border-radius: 0.5rem;
  }
}